header {
    width: 100%;

    background-color: var(--electric-sapphire);

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

header h1 {
    align-self: stretch;

    color: white;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 20%;
}

header h2 {
    align-self: stretch;

    color: white;
    font-family: var(--slogan-font);
    font-size: var(--slogan-font-size);
    font-weight: var(--slogan-weight);
    letter-spacing: var(--slogan-letter-spacing);
}

.header__rowFlex {
    width: 100%;
    padding: 0.5rem 2rem;

    display: flex;
    justify-content: space-between;
}

#header__spacer {
    width: 2.625rem;
    height: 2.625rem;
}

.header__textGroup {
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}