@import "header.css";
@import "toolbar.css";
@import "footer.css";

:root {
    /* Colors config */
    --electric-sapphire: #5863F8;
    --main-background: #EDEDED;
    --white-comp: #FFFFFF;
    --black-comp: #000000;
    --red: #FF7174;
    --red-light: #FF9F9F;
    --red-very-light: #FFCCCC;
    --orange: #FFC78F;
    --orange-light: #FFE5CA;
    --green: #A8E6A3;
    --green-light: #E0FFDE;
    --placeholder-color: rgba(0, 0, 0, 0.5);

    /* Fonts config */
    --header-font: "Bebas Neue";
    --header-font-size: 6rem;
    --header-line-height: 0.9;
    --header-letter-spacing: 0.25rem;

    --slogan-font: "Quicksand";
    --slogan-font-size: 1.25rem;
    --slogan-line-height: 0.9;
    --slogan-letter-spacing: 0.25rem;

    --title-font: "Inter";
    --title-font-size: 1.5rem;
    --title-line-height: 0.9;

    --button-font: "Bebas Neue";
    --button-font-size: 1.5rem;
    --button-line-height: normal;

    --body-font: "Inter";
    --body-font-size: 1.25rem;
    --body-line-height: normal;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General config */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--main-background);
}

main {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    line-height: var(--header-line-height);
    letter-spacing: var(--header-letter-spacing);
    color: #FFF;
}

h2 {
    font-family: var(--title-font);
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    color: var(--black-comp);
}

p,
input,
select {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--black-comp);
}

input::placeholder {
    color: var(--placeholder-color);
  }

button, 
label {
    font-family: var(--button-font);
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);

    background: none;
	border: none;
    cursor: pointer;
}

button:hover {
    opacity: 80%;
}

button:active {
    opacity: 100%;
}