.toolbar {
    display: flex;
    flex-direction: column;
    padding: 3rem 0 0.75rem 0;
    gap: 0.125rem;
}

/* Tool Bar Header*/
.toolbar__header {
    width: 67.5rem;
    padding: 0.75rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    border-radius: 0.25rem;
    background-color: var(--white-comp);
}

.toolbar__header button {
    height: 2.5rem;
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    background-color: var(--electric-sapphire);
    border-radius: 2rem;
    color: white;
}

.toolbarHeader__sortPart {
    height: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.toolbarHeader__RadioButtonGroup input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

.toolbarHeader__RadioButtonGroup {
    width: 14.5rem;
    padding: 0.25rem;

    background-color: var(--main-background);
    border-radius: 0.25rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.radioButton_name {
    height: 2.25rem;
    border-radius: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* New CSS style on checked button */
.toolbarHeader__RadioButtonGroup label input:checked + .radioButton_name {
    background-color: var(--electric-sapphire);
    color: white;
    transition: all .15s ease-in-out;
}


/* Task Creator frame */

.toolbar__taskCreator {
    width: 67.5rem;
    padding: 0.75rem 0;

    border-radius: 0 0 0.25rem 0.25rem;
    background-color: var(--white-comp);

    /* display switch to "flex" on "New task" button event */
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.taskCreator__form {
    width: 67.5rem;
    padding: 0 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__dateSelector {
    height: 2.5rem;
    padding: 0 0.5rem;

    border-radius: 0.25rem;
    background-color: var(--main-background);

    display: flex;
    justify-content: center;
    align-items: center;
}

.taskCreator__buttonGroup {
    display: flex;
    gap: 0.75rem;
}

/* Inputs/Buttons modifications*/

#new_task_name {
    width: 34.5rem;
    padding: 0.5rem;

    border: none;
    border-radius: 0.25rem;
    background-color: var(--main-background);
}

#new_task_priority {
    height: 2.5rem;
    padding: 0 0.5rem;

    border: none;
    border-radius: 0.25rem;
    background-color: var(--main-background);
}

#new_task_date {
    width: 9.5rem;

    background-color: var(--main-background);
    text-align: center;
    appearance: none;
    border: none;
    cursor: pointer;
}

.form__dateSelector label {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    line-height: var(--body-line-height);
    color: var(--black-comp);
}

#taskCreator__confirmButton {
    width: 7rem;
    height: 2.5rem;

    background-color: var(--electric-sapphire);
    border-radius: 2rem;
    color: white;
}

#taskCreator__cancelButton {
    width: 7rem;
    height: 2.5rem;

    background-color: var(--red);
    border-radius: 2rem;
    color: white;
}